@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}
/*---AREA_CABECALHO---*/
header{
    background-color: #f7b600;
    text-align:center;
    padding: 20px;
    
}
header > h1{
    margin: 5px;
    color: #4e4e4e;
    font-size: 2.5em;
}
nav{
    background-color: #f7b600;
    text-align:center;
    padding: 10px;
}
nav > a{
    padding: 6px;
    margin: 0px 11px;
    color: white;
}
nav> a:hover{
    background-color:white ;
    color: #f7b600;
    border-radius: 10px;
    margin: 0px 11px;
    padding: 6px;
    
}
a{
    color: #f7b600;
    text-decoration: none;
}
span{
    color: white;
}
main{
    
    max-width: 990px;
    margin: auto;
}
article{

    background-color: white;
    float: left;
    margin: 10px ;
    padding: 20px;
    max-width: 700px;
    
}
h1{
    color: #f7b600;
}
.imagem{
    margin: auto;
    max-width: 700px;
    min-width: none;
}

img{
    width:100%;
}

.caixa{
    padding: 10px;
    margin: 10px 5px;
    background-color: white;
    float:  right;
    height: 150px;
    width: 200px;
}
.caixa > a {
    text-decoration: none;
    display: block;
}
.caixa > h2 {
    color: rgb(82, 82, 82);
    font-size: 1.2em;
    background-color:#e6e6e6;
    padding: 3px;
}
.legenda
{
    font-size: 0.8em;
    padding: 3px;
}
hr
{
    margin: 5px;
}
.final 
{
    font-size: 0.9em;
}
footer
{
    background-color: #bebdbd;
    text-align:center;
    margin: 10px auto;
    padding: 15px;
    max-width: 940px;
}
.clear
{
    clear: both;
}
