@charset "utf-8";
main{

}
#conteudo1
{
    position: absolute;
    background-color: gray;
    border: 1px solid red;
    width:150px;
    height:150px;
    z-index: 3;
}
#conteudo2
{
    position: absolute;
    background-color: blue;
    border: 1px green solid ;
    width: 150px;
    height: 150px;
    top: 80px;
    left: 80px;
    z-index: 2;
}
#conteudo3
{ 
    position: absolute;
    background-color: green;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    top: 160px;
    left: 160px;
    z-index: 1;
}