@charset "utf-8";
.main{
    
    float: left;
    background-color: rgb(126, 126, 255);
    border: 1px solid red;
    padding: 10px;
    margin-left: 50px;
    
    max-width: 550px;
    min-width: none;
}
.box{
    display: inline;
    float: right;
    border: 1px solid black;
    background-color: grey;
    margin: 10px;
    height: 100px;
    width: 180px;
}
.clear{
    clear: both;
}