@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: gray;
}
#h1{
   
    color: white;
    background-color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#p{
    
    color: black;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}