@charset "utf-8";
body{
    background-image:url(imagens/yoshi.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-color: blueviolet;
}