@charset "utf-8";
body{
    background-color: #007fc7;
    margin: 0px;
    padding: 0px;
}
main{
    background-color: white;
    margin: 117px auto;
    height: 2000px;
    max-width: 1000px;
    min-width: none;
}
header{
    padding: 20px ;
    border-radius: 0px 10px;
    background-color: rgb(165, 165, 165);
}

p{
    width: 300px;
}


header{
    width: 100%;
    position: fixed;
    bottom: 550px;
    
    
}
nav{
    
}