@charset "utf-8";
body{
    background-color: #007fc7;
    margin: 0px;
    padding: 0px;
}
/*
position relative: - segue o fluxo do documento.
                   - posição original.

position fixed: - n segue o fluxo do documento.
                - fixo na tela.
                
position absolute: - n segue o fluxo do documento.
                   - basesado no conteiner(!= de static).
*/
header
{
    position: fixed;
    width: 100%;
    border-radius: 0px 10px;
    margin: 0px;
    padding: 20px;
    background-color: whitesmoke;
}

header > h1
{
    margin: 0px;
    padding: 0px;
}

main{
    float: left;
    top: 77px;
    background-color: white;
    margin: auto;
    padding: 50px;
    max-width: 800px;
    height: 2000px;
}
p
{
    border: 1px solid rgb(255, 0, 0);
    width: 400px;
}
.relative
{
    border: 1px solid black;
    position: absolute;
    left:50%; 
}

.absolute
{
    border: 1px solid blue;
}
