@charset "utf-8";
main{
    background-color: green;
    border: 5px solid gray;
    margin: auto;
    max-width: 1000px;
    min-width: none;
}
.conteudo_0{
    background-color: red;
    border: 5px solid black;
    margin: 5px;
    height: 150px;
    width: 150px;
    text-align: center;
    float: left;
}
.conteudo_1{
    background-color: blue;
    border: 5px solid black;
    margin: 5px;
    height: 150px;
    width: 150px;
    text-align: center;
    float: left;
}
.clear{
    clear: both;
}
