@charset "utf-8";
body{
    
    
    background-image: url(imagens/fundo.png);
}
.capa{
    
    text-align: center;
}
a{
    
    text-decoration: none;
    color: rgb(75, 86, 106);
}

.menu{
    text-align: center;
    max-width: 750px;
    margin: auto;
    padding: 15px;
    background-color: rgb(180, 180, 180);
}