@charset "utf-8";
body{
    margin: auto;
    background-image: url(imagens/fundo.png);
    min-width:300px;
    max-width: 1000px;
}
picture{ 
    max-width: 100%;
    text-align: center;
    margin: auto;
    display: block;
}
a{
    font-size: 17px;
    text-decoration: none;
    color: rgb(75, 86, 106);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 4px;
    padding: 2px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    text-align: left;
    margin: auto;
    padding: 15px;
    background-color: #c1c5b0;
}
.conteudo{
    background-color: whitesmoke;
    padding: 10px;
    
}
main{
    background-color: white;
    min-width:300px;
    max-width: 1000px;
    margin: auto;
    border: 1px solid;
    
}
img{
    width:  100%;
}
h1{
    color: #7f8270;
}
footer{
    text-align: center;
    margin: 5px;
}