@charset "utf-8";
body{
    background-image: url(imagens/fundo.png);
    margin: 0px;
}
main{
    background-color: white;
    /*border: 1px solid;*/
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
}
img{
    width: 100%;
}
nav{
    background-color: #c1c5b0;
    /*border: 1px solid;*/
    margin: 0px;
    padding: 15px;
    text-align: center;
}
nav>a{
    color: #4a566b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
}
article{
    margin: 0px;
    padding: 15px;
}
h1{
    color: #7f8270;
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: #c1c5b0;
    border: 1px solid black;
    text-align: center;
}