@charset "UTF-8";

img
{
    width: 100%;
}
a
{
    text-decoration: none;
}

body
{
    background: #d2d2c1 url('./imagens/fundo.png');
    margin: 0px;
    padding: 0px;
}
main
{
    margin: auto;
    max-width: 900px;
}
nav
{
    padding: 15px;
    background: #d2d2c1;
    font-size: 1.5em;
    text-align: center;
}
a > strong
{
    margin: 0px 6px;
    color: rgb(88, 88, 88);
    font-size: 0.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section
{
    background: #e4e4d5;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section > h1
{
    color: #696960;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagens
{
    background-color: #d2d2c1;
    margin: auto;
    padding: 15px;
    max-width: 600px;
}

footer
{
    color: whitesmoke;
    background-color: gray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
