@charset "utf-8";
body{
    background-color: rgb(175, 175, 175);
}
main{
    background-color: rgb(194, 194, 194);
    
}
.secao_noticia{
    background-color: rgb(231, 231, 231);
    padding: 3px;
    margin: 10px;
    float: left;
    
    height: 180px;
    width: 300px;
}
.grupo_noticia{
    
    max-width: 1000px;
    min-width: none;
    margin: auto;
}
.secao_imagem{
    background-color: white;
    
    margin: 10px;
    padding: 5px;
    width: 270px;
    float: left;
    
}
.grupo_imagem{
    
    max-width: 1000px;
    min-width: none;
    margin: auto;
}
.clear{
    clear: both;
}
img{
    width: 100%;
    margin: auto;
}

