@charset "UTF-8";

body
{
    background-color: gray;
    margin: 0px;
    padding: 0px;
}
.clear
{
    clear: both;
}
main
{
    max-width: 1000px;
    margin:auto;
}
.noticias
{
    background-color: whitesmoke;
    margin: 10px;
    padding: 5px;
    height: 230px;
    width: 300px;
    float: left;
}
.imagem
{
    background-color: white;
    margin: 10px;
    padding: 5px;
    width: 300px;
    float: left;
}
img
{
    width: 100%;
}