@charset "utf-8";
*{
    border:1px solid black;
    margin: 0px;
    padding: 0px;
}
ul{
    background:url(imagens/fundo-horizontal.png) repeat-x;
    background-color: #159cb0;
    max-width: 600px;
    margin:0 auto;
    padding: 0px;
    list-style-type: none;
}
li{
    line-height: 2em;
    
}
ul li {
    display: inline;
    float: left;
    
}
.clear{
    clear: both;
}
ul a {
    color: white;
    background: url(imagens/divisor.png) repeat-y;
    display: block;
    margin: 2.3px;
    padding: 0 2em;
    text-decoration: none;
}